/*The properties of the body on the aboutUs page*/
body {
    margin: 0;
    padding: 0;
    background: #fff;
   
    
}
/*The properties of the header on the aboutUs page*/
#header {
    height: 200px;
    box-sizing: border-box;
    padding-top: 1%;
    background-image: linear-gradient(
            rgba(20, 27, 41, 0.8),
            rgba(20, 27, 41, 0.9)
        );
}
/*The properties of the top nav bar on the aboutUs page*/
#top-navbar {
    height: 65px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background: #555a64;
    /* background: linear-gradient(rgba(20, 27, 41, 0.8), rgba(20, 27, 41, 0.9)); */
  
}


/*The properties of the logo on the top-navbar of the aboutuspage */
#navbar-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    width: 150px;
    color: rgb(215, 94, 39);
    text-decoration: none;
    margin-left: 5%;
}
/*The properties of the small section  of the logo on the navbar of the aboutUs page*/
#small-log {
    color: #fff;
}

/*The properties of the inner div inside the nav bar on the aboutUs page*/
#navbar-inner-div {
    margin-left: 38%;
    
}
/*The properties of the artists link on the  top navbar of the aboutUs page */
#navbar-artistes {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight:900;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}
/* The properties of the hover on  artists link on the  top navbar of the aboutUs page */
#navbar-artistes:hover{color:#ff781f}

/*The properties of the home link on the  top navbar of the aboutUs page */
#navbar-home {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight:900;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}

/*The properties of the hover on the  home link on the  top navbar of the aboutUs page */
#navbar-home:hover{color:#ff781f}

/*The properties of the comedians link in the top nav bar of the aboutUspage*/
#navbar-comedians {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 30px;
    text-decoration: none;
    padding-top: 10px;
    box-sizing: border-box;
}
/*The properties of the hover on the comedians link in the top nav bar of the aboutUspage*/
#navbar-comedians:hover{color:#ff781f}

/*The properties of the bands on the top nav bar on the aboutUs page */
#navbar-bands {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 80px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the bands hover  on the top nav bar on the aboutUs page */
#navbar-bands:hover{color:#ff781f}

/*The properties of the about us link on the top nav bar on the aboutUs page*/
#navbar-aboutus {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the hover on  about us  linkon the top nav bar on the aboutUs page*/
#navbar-aboutus:hover{color:#ff781f}

/*The properties of the contactus on the top-nav bar*/
#navbar-contactus {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-contactus:hover{color:#ff781f}
/*The properties of the text area container inside of the header on the aboutUs page.*/
.header-text-area {
    text-align: center;
    box-sizing: border-box;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    width: 75%;
}

/*The properties of the heading in the text area container on the aboutUs page */
.header-text-area h1 {
    color: #fff;
    font-size: 60px;
    font-family: 'Carter One', cursive;
}

/*The properties of the small quote on the header section on the aboutUs page. */
#small-header-quote {
    font-size: 25px;
    color: rgb(215, 94, 39);
    display: block;
    margin-top: 3%;
    font-weight:900;
    font-family: 'Bonheur Royale', cursive;
}

/*The properties of the hover on the small quote of the header section on the aboutUs page. */
#small-header-quote:hover {color: #fff;}

/*Properties of the about-us class.*/
.about-us{
 height: 500px;
 width: 50%;
 box-sizing: border-box;
 padding-top: 3%;
 line-height: 40px;
 
}
/*Properties of the container class*/
.container{
 width: 100%;
 height: auto;
 display: flex;
}

/*Properties of the paragraph of the about us class.*/
.about-us p{
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

/*Properties of the h2 of the about us class.*/
.about-us h2{
margin-left: 2%;  
font-size: 40px;
font-family: 'Bonheur Royale', cursive;
}

/*Properties of the h2  hover of the about us class.*/
.about-us h2:hover{color:rgb(215, 94, 39) ;}

/*Properties of the image of the about us class.*/
.about-us img{
    height:300px;
    
}
/*Properties of the small about quote*/
#small-about-quote {
    font-size: 30px;
    display: block;
    margin-top: 6%;
    font-weight:900;
    margin-left: 30%;
    font-family: 'Bonheur Royale', cursive;
}

/*Properties of the small about quote hover */
#small-about-quote:hover{
    color: rgb(215, 94, 39);
}

/*Properties of the about-card.*/
.about-card{
    height: 220px;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #f2f3f4; ;
    background-color:#f2f3f4;
}

/*Properties of the left-card class.*/
.left-card{
    margin-left: 6%;
}

/*Properties of the h5 on the about-card class. */
.about-card h5{
    margin-left: 2%;  
    font-size: 40px;
    font-family: 'Bonheur Royale', cursive;

}
/*Properties of the h5 hover on the about-card class.*/
.about-card h5:hover{
    color: #ff781f;
}

/*Properties of the p on the about-card class. */
.about-card p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3%;
}
/*Properties of the footer */
.footer {
    height: 60px;
    background: #555a64;
}
/*The properties of the nav-link on the footer*/
.nav-link {
    color: #fff;
}

/*The properties of the nav-link hover  on the footer*/
.nav-link:hover {
    color: #ff781f;
}

/*The properties of the nav-container class */
.nav-container {
    margin-left: 40%;
    display: flex;
    
}
/*The properties of the icons on the footer.*/
.icon {
    color:#fff; 
}
/*The properties of the copy class*/
.copy {
    font-family:  sans-serif;
    font-size: 14px;
    margin-left: 4%;
    font-weight: 900;
}
/*The properties of the small quote on the About Us section*/
#small-quote {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    font-family: 'Bonheur Royale', cursive;
}
/*The properties of the small quote  hover on the About Us section*/
#small-quote:hover{
    color:rgb(215, 94, 39);
}
