/*The properties of the body*/
body {
    margin: 0;
    padding: 0;
    background-color: #434853;
    
}
/*The properties of the top-container on the page*/
#top-navbar {
    height: 65px;
    box-sizing: border-box;
}
/*The properties for the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 70%;
}
/*The properties of the logo on the top-navbar */
#navbar-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    width: 150px;
    color: rgb(215, 94, 39);
    text-decoration: none;
    margin-left: 5%;
}
/*The properties of the small property on the logo of the top-nav bar */
#small-log {
    color: #fff;
}  
/*The logout dropdown.*/
#navbar-dropdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 140px;
    color: #fff;
    margin-left: 2px;
    background-color: inherit;
    padding-left: 20px;
    font-weight: 900;
    padding-top: 10px;
    border-style: hidden;
    text-decoration: none;
    box-sizing: border-box;
}
/*The logout dropdown hover .*/
#navbar-dropdown:hover {
    color: #ff781f;
}
/*The signout link on the  account*/
#sign-out {
    font-size: 0.875em;
    font-weight: 600;
    text-decoration: none;
}
/*The signout link hover  on the  account*/
#sign-out:hover {
    color: red;
}

/*The properties of the container */
.container {
    /* width:fit-content; */
    width: 80%;
    height: auto;
    /* margin-top: 1%; */
    margin-bottom: 2%;
    padding: 2%;
    color:#fff;
    background-color: #434853;
    box-sizing: border-box;
    border: 1px solid #434853;
}
/*The properties of the phot-div*/
.photo-div{
 margin: 4%;
 padding:0;
   
}
/*The properties of the band-info.*/
.band-info {
    height: auto;
    float: right;
    
}
/*The properties of the bandgenre*/
.bandgenre {
    height: 80px;
    padding: 3%;
    width:32%;
    border-radius: 50px;
    margin: 4%;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline;
    background-color:#72767E ;
    border: 1px solid  #72767E;
}
/*The properties of the bandgenre hover*/
.bandgenre:hover{
    color: #ff781f;
}

/*The properties of the bandalbums*/
.bandalbums {
    height: 80px;
    padding:3%;
    width:22%;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-radius: 50px;
    margin: 4%;
    text-decoration: none;
    display: inline;
    background-color: #5A5F69;
    border: 1px solid #5A5F69;
}
/*The properties of the bandalbums hover*/
.bandalbums:hover{
    color: #ff781f;
}

/*The properties of the bandsongs*/
.bandsongs {
    height: 80px;
    padding: 3%;
    width:22%;
    color:#fff;
    border-radius: 50px;
    margin: 4%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline;
    background-color:#72767E ;
    border: 1px solid  #72767E;
}
/*The properties of the bandsongs hover*/
.bandsongs:hover{
    color: #ff781f;
}

/*The properties of the h5*/
h5{
    margin-left: 12%;
    margin-bottom: 3%;
    font-size:30px;
    font-family: 'Bonheur Royale', cursive;
}
/*The properties of the h5 hover*/
h5:hover{
   color: #ff781f;
}
/*The properties of the moreinformation*/
.moreinformation{
 /* border: 1px solid red; */
 border-radius: 25px;
 margin-top: 3%;
 
}
/*The properties of the moreinformation paragraph*/
.moreinformation p{
    font-family: 'Open Sans', sans-serif;
}
/*The properties of the footer*/
.footer {
    margin-top: 2%;
    height: 60px;
    /* background: #555a64; */
    background-color: #434853;
}
/*The properties of the nav-link*/
.nav-link {
    color: #fff;
}

/*The properties of the nav-link hover*/
.nav-link:hover {
    color: #ff781f;
}
/*The properties of the nav-container*/
.nav-container {
    margin-left: 40%;
    display: flex;
}
/*The properties of the icon*/
.icon {
    color: #fff;
}
/*The properties of the copy*/
.copy {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 4%;
    font-weight: 900;
}
/*The properties of the small quote */
#small-quote {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    font-family: 'Bonheur Royale', cursive;
}
/*The properties of the small quote hover */
#small-quote:hover {
    color: rgb(215, 94, 39);
}
