/*The properties of the body.*/
body {
    margin: 0;
    padding: 0;
    background: #f2f3f4;
   
}
/*The properties of the top nav bar*/
#top-navbar {
    height: 65px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background: #555a64;
    
}

/*The properties for the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 20%;
}
/*The properties of the logo on the top-navbar*/
#navbar-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    width: 150px;
    color: rgb(215, 94, 39);
    text-decoration: none;
    margin-left: 5%;
}
/*The properties of the small property on the logo on the navbar */
#small-log {
    color: #fff;
}

/*The properties of the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 30%;
}
/*The properties of the artists link on the  top navbar */
#navbar-artistes {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}
/*The properties of the artists link  hover on the  top navbar */
#navbar-artistes:hover {
    color: #ff781f;
}

/*The properties of the comedians link in the top nav bar */
#navbar-comedians {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 30px;
    text-decoration: none;
    padding-top: 10px;
    box-sizing: border-box;
}
/*The properties of the comedians link hover in the top nav bar */
#navbar-comedians:hover {
    color: #ff781f;
}
/*The properties of the bands on the top nav bar */
#navbar-bands {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 80px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the bands hover  on the top nav bar */
#navbar-bands:hover {
    color: #ff781f;
}
/*The properties of the about us on the top nav bar */
#navbar-admin {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the about us hover on the top nav bar */
#navbar-admin:hover {
    color: #ff781f;
}

/*The properties of the contactus on the top-nav bar*/
#navbar-contactus {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the contactus hover on the top-nav bar*/
#navbar-contactus:hover {
    color: #ff781f;
}
/*The properties of the navbar-dropdown*/
#navbar-dropdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 140px;
    color: #fff;
    margin-left: 2px;
    border-style: hidden;
    background-color:inherit; 
    padding-left: 20px;
    font-weight: 900;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the navbar-dropdown hover*/
#navbar-dropdown:hover {
    color: #ff781f;
}
/*The properties of the signout*/
#sign-out {
    font-size: 0.875em;
    font-weight: 600;
    text-decoration: none;
}
/*The properties of the hovering on the top nav bar*/
#sign-out:hover {
    color: red;
}

/*The properties of the h4regform*/
.h4regform{
    margin-left: 42%;
    margin-top: 2%;
    font-family: 'Carter One', cursive;
}
/*The properties of the container  */
.container{
 width:fit-content;
 height: auto;
 margin-top: 0%;
 margin-bottom: 2%;
 display: flex;
 padding: 2%;
 background-color: #fff;
 box-sizing: border-box;
 border: 1px solid #fff;
 
}
/*The properties of the form-action-cols.*/
.form-action-cols{
height: auto;
border-right: 1px dotted #bfc1c2;
border-left: 1px dotted #bfc1c2;

}
/*The properties of the row*/
.row{
    margin: auto;
}
/*The properties of the form-action input, select, textarea*/
.form-action input, select, textarea{ 
    width:100%;
    height: 40px;
    margin-bottom: 3%;
    border-radius: 4px;
}
/*The properties of the form-action textarea.*/
.form-action textarea {
    width:100%;
    height: 50px;
    margin-bottom: 4%;
    border-radius: 4px;
}
/*The properties of the button-form.*/
#button-form {
    margin-top: 4%;
    width: 100%;
    display: flex;
}
/*The properties of the button-form input*/
#button-form input {
    width: 50%;
    margin-right: 2%;
    border-radius: 4px;
}
/*The properties of the submit-btn*/
#submit-btn {
    background-color: #f28500;
    color: #fff;
    border: 1px solid #f28500;
    font-weight: 600;
}
/*The properties of the submit-btn hover*/
#submit-btn:hover {
    color: #ef672a;
    background-color: whitesmoke;
}

/*The properties of the cancel-btn*/
#cancel-btn {
    background-color: #cb4154;
    color: #fff;
    border: 1px solid #cb4154;
    font-weight: 600;
}
/*The properties of the cancel-btn hover*/
#cancel-btn:hover {
    color: red;
    background-color: whitesmoke;
}
/*The properties of the footer */
.footer {
    height: 60px;
    background: #555a64;
    
}
/*The properties of the nav-link*/
.nav-link {
    color: #fff;
}
/*The properties of the nav-link hover*/
.nav-link:hover {
    color: #ff781f;
}
/*The properties of the nav-container*/
.nav-container {
    margin-left: 40%;
    display: flex;
}
/*The properties of the icon*/
.icon {
    color: #fff;
}
/*The properties of the copy*/
.copy {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 4%;
    font-weight: 900;
}
/*The properties of the small quote on the footer*/
#small-quote {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    font-family: 'Bonheur Royale', cursive;
}
/*The properties of the small quote  hover on the footer*/
#small-quote:hover {
    color: rgb(215, 94, 39);
}
