/*The properties of the body */
body {
    margin: 0;
    padding: 0;
    /* background-color: #fffafa; */
    background-color: #f2f3f4;
}
/*The properties of the header */
#header {
    height: 200px;
    box-sizing: border-box;
    padding-top: 1%;
    background-image: linear-gradient(
            rgba(20, 27, 41, 0.8),
            rgba(20, 27, 41, 0.9)
        );
}
/*The properties of the top nav bar */
#top-navbar {
    height: 65px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background: #555a64;
    
  
}

/*The properties of the logo on the top-navbar */
#navbar-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    width: 150px;
    color: rgb(215, 94, 39);
    text-decoration: none;
    margin-left: 5%;
}
/*The properties of the small property on the logo on the navbar*/
#small-log {
    color: #fff;
}

/*The properties of the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 38%;
    
}
/*The properties of the artists link on the  top navbar */
#navbar-artistes {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight:900;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}
/*The properties of the artists link hover  on the  top navbar */
#navbar-artistes:hover {
    color:#ff781f;
    
}
/*The properties of the navbar-home*/
#navbar-home{
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight:900;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}
/*The properties of the navbar-home hover*/
#navbar-home:hover {
    color:#ff781f;
    
}
/*The properties of the comedians link in the top nav bar */
#navbar-comedians {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 30px;
    text-decoration: none;
    padding-top: 10px;
    box-sizing: border-box;
}
/*The properties of the comedians link hover  in the top nav bar */
#navbar-comedians:hover {color:#ff781f;}

/*The properties of the bands on the top nav bar  */
#navbar-bands {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 80px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the bands hover on the top nav bar  */
#navbar-bands:hover {color:#ff781f;}

/*The properties of the about us on the top nav bar */
#navbar-aboutus {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the about us hover on the top nav bar */
#navbar-aboutus:hover {color:#ff781f;}

/*The properties of the contactus on the top-nav bar*/
#navbar-contactus {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight:900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
/*The properties of the contactus hover on the top-nav bar*/
#navbar-contactus:hover {color:#ff781f;}

/*The properties of the text area container inside of the header */
.header-text-area {
    text-align: center;
    box-sizing: border-box;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    width: 75%;
}
/*The properties of the heading on the text area container */
.header-text-area h1 {
    color: #fff;
    font-size: 60px;
    font-family: 'Carter One', cursive;
}

/*The properties of the small quote  */
#small-header-quote {
    font-size: 25px;
    color: rgb(215, 94, 39);
    display: block;
    margin-top: 3%;
    font-weight:900;
    font-family: 'Bonheur Royale', cursive;
}
/*The properties of the small quote hover */
#small-header-quote:hover {color: #fff;}

/*The properties of the container*/
.container{
    height: auto;
    width: 100%;
    
}
/*The properties of the contacts*/
.contacts{
  background-color:#fff;
  border: 1px solid #fff;
  margin-top: 6%;
  width: 45%;
  margin-bottom: 6%;
  margin-right: 5%;
}
/*The properties of the contact-info*/
.contact-info{
    height:auto;
    
}
/*The properties of the contact-input*/
.contact-input{
  height: auto;
    
}
/*The properties of the form-action*/
.form-action{
    
    width: 100%;
    margin-top: 1%;
    height: auto;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    font-family: 'Open Sans',sans-serif;
}
/*The properties of the form-action h2*/
.form-action h2{
    font-family: 'Bonheur Royale', cursive;
    font-size: 40px;
}
/*The properties of the form-action h2 hover*/
.form-action h2:hover{color: #ff781f;}

/*The properties of the inner-flex*/
.inner-flex{
 display: flex;
 width: 100%;
 
}
/*The properties of the inner-flex input*/
.inner-flex input{ 
    width: 90%;
    margin-right: 2%;
    
}
/*The properties of the form-action input, textarea*/
.form-action input ,textarea{
    width: 100%;
    height: 50px;
    margin-bottom: 2%;
}
/*The properties of the last-name-label*/
#last-name-label{
    margin-left: 33%;
}

/*The properties of the submit-contactus*/
#submit-contactus{
 margin-bottom: 4% ;
 border-radius: 4px;
 font-weight: 900;
 border: 1px solid #ff781f;
 background-color: #ff781f;
 color: #fff;
 
}
/*The properties of the lastname-error*/
#lastname-error{
 margin-left: 21%;
}
/*The properties of the firstname-error*/
#firstname-error{
 margin-left:2%;
}
/*The properties of the email-error*/
#email-error{
 margin-left:2%;  
}
/*The properties of the message-error*/
#message-error{
 margin-left:2%;  
}
/*The properties of the footer*/
.footer {
    height: 60px;
    background: #555a64;
}
/*The properties of the nav-link*/
.nav-link {
    color: #fff;
}
/*The properties of the nav-link hover*/
.nav-link:hover {
    color: #ff781f;
}
/*The properties of the nav-container*/
.nav-container {
    margin-left: 40%;
    display: flex;
    
}
/*The properties of the icon*/
.icon {
    color:#fff; 
}
/*The properties of the copy*/
.copy {
    font-family:  sans-serif;
    font-size: 14px;
    margin-left: 4%;
    font-weight: 900;
}
/*The properties of the small quote */
#small-quote {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    font-family: 'Bonheur Royale', cursive;
}
/*The properties of the small quote hover*/
#small-quote:hover{
    color:rgb(215, 94, 39);;
}