/*The properties of the body on the home page*/
body {
    margin: 0;
    padding: 0;
    /* background: #f5f5f5; */
    background-color: #fffafa;
}
/*The properties of the header of the home page*/
#header {
    height: 200px;
    box-sizing: border-box;
    padding-top: 1%;
    background: linear-gradient(
            rgba(20, 27, 41, 0.8),
            rgba(20, 27, 41, 0.9)
        );
}
/*The properties of the top nav bar on the home page*/
#top-navbar {
    height: 65px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background: #555a64;
    /* background: linear-gradient(rgba(20, 27, 41, 0.8), rgba(20, 27, 41, 0.9)); */
}

/*The properties for the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 20%;
}
/*The properties of the logo on the top-navbar of the loginpage*/
#navbar-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    width: 150px;
    color: rgb(215, 94, 39);
    text-decoration: none;
    margin-left: 5%;
}
/*The properties of the small property on the logo on the navbar on the homepage*/
#small-log {
    color: #fff;
}

/*The properties of the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 30%;
}
/*The properties of the artists link on the  top navbar of the homepage */
#navbar-artistes {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}
#navbar-artistes:hover{color:#ff781f}
/*The properties of the comedians link in the top nav bar of the homepage*/
#navbar-comedians {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 30px;
    text-decoration: none;
    padding-top: 10px;
    box-sizing: border-box;
}
#navbar-comedians:hover{color:#ff781f}
/*The properties of the bands on the top nav bar on the home page */
#navbar-bands {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 80px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-bands:hover{color:#ff781f}
/*The properties of the about us on the top nav bar on the home page*/
#navbar-aboutus {
    font-family:  sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-aboutus:hover{color:#ff781f}
/*The properties of the contactus on the top-nav bar*/
#navbar-contactus {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-contactus:hover{color:#ff781f}

#navbar-dropdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 140px;
    color: #fff;
    margin-left: 2px;
    border-style: hidden;
    background-color:inherit;
    padding-left: 20px;
    font-weight: 900;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
    
}
#navbar-dropdown:hover{color:#ff781f}
/*The properties of the text area container inside of the header */
.header-text-area {
    text-align: center;
    box-sizing: border-box;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    width: 75%;
}
/*The properties of the heading on the text area container */
.header-text-area h1 {
    color: #fff;
    font-size: 60px;
    font-family: 'Carter One', cursive;
}
/*The properties of the paragraph in the text area */

/*The properties of the small quote on the header section. */
#small-header-quote {
    font-size: 25px;
    color: rgb(215, 94, 39);
    display: block;
    margin-top: 3%;
    font-weight: 900;
    font-family: 'Bonheur Royale', cursive;
}
#small-header-quote:hover {color: #fff;}
/*The properties of the signin on the top nav bar of the home page*/
#signin {
    font-size: 0.875em;
    font-weight: 600;
    text-decoration: none;
}
/*The properties of the hovering on the top nav bar of the home page*/
#signin:hover {
    color: #ff781f;
}
/*The properties of the register button on the header section*/
#register-with-us {
    font-size: 0.875em;
    font-weight: 600;
    text-decoration: none;
}
/*The properties of the hover on the register. */
#register-with-us:hover {
    color: #ff781f;
}
#Artistsh2 {
    margin-left: 10%;
    margin-top: 2%;
    color: black;
    font-size: 50px;
    font-family: 'Bonheur Royale', cursive;
}
#Artistsh2:hover {
    color: #ff781f;
}
.readmore{
   text-decoration: none;
   margin-left: 48%; 
   font-weight: 600;
   
}
.readmore:hover{
  color:#ff781f;
 }
.artists {
    height: auto;
    /* border-radius: 25px; */
    margin-top: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    transition: 0.7s;
}
.artists:hover {
    margin-top: 1%;
    margin-bottom: 1%;
}
.artists-left {
    margin-left: 10%;
}
.artists img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
.artists h4 {
    font-size: 40px;
    font-family: 'Bonheur Royale', cursive;
}
.artists h4:hover {
    color: #ff781f;
    font-size: 30px;
}
.talent {
    margin-top: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
    transition: 0.7s;
}
.talent:hover {
    margin-top: 1%;
    margin-bottom: 1%;
}
.talent-left {
    margin-left: 10%;
}
.talent img {
    height: 250px;
    width: 350px;
    border-radius: 50px;
}
.talent h4 {
    font-size: 40px;
    font-family: 'Bonheur Royale', cursive;
}
.talent h4:hover {
    color: #ff781f;
    font-size: 30px;
}
.footer {
    margin-top: 2%;
    height: 60px;
    background: #555a64;
}
.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: #ff781f;
}
.nav-container {
    margin-left: 40%;
    display: flex;
    
}
.icon {
    color:#fff; 
}
.copy {
    font-family:  sans-serif;
    font-size: 14px;
    margin-left: 4%;
    font-weight: 900;
}
/*The properties of the small quote on the About Us section*/
#small-quote {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    font-family: 'Bonheur Royale', cursive;
}
#small-quote:hover{
    color:rgb(215, 94, 39);
}  



