body {
    margin: 0;
    padding: 0;
    background: #f2f3f4;
   
}
/*The properties of the top nav bar on the home page*/
#top-navbar {
    height: 65px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background: #555a64;
    
}

/*The properties for the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 20%;
}
/*The properties of the logo on the top-navbar of the loginpage*/
#navbar-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    width: 150px;
    color: rgb(215, 94, 39);
    text-decoration: none;
    margin-left: 5%;
}
/*The properties of the small property on the logo on the navbar on the homepage*/
#small-log {
    color: #fff;
}

/*The properties of the inner div inside the nav bar*/
#navbar-inner-div {
    margin-left: 30%;
}
/*The properties of the artists link on the  top navbar of the homepage */
#navbar-artistes {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}
#navbar-artistes:hover {
    color: #ff781f;
}
/*The properties of the comedians link in the top nav bar of the homepage*/
#navbar-comedians {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 30px;
    text-decoration: none;
    padding-top: 10px;
    box-sizing: border-box;
}
#navbar-comedians:hover {
    color: #ff781f;
}
/*The properties of the bands on the top nav bar on the home page */
#navbar-bands {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 80px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-bands:hover {
    color: #ff781f;
}
/*The properties of the about us on the top nav bar on the home page*/
#navbar-admin {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 100px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-admin:hover {
    color: #ff781f;
}
/*The properties of the contactus on the top-nav bar*/
#navbar-contactus {
    font-family: sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-left: 2px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-contactus:hover {
    color: #ff781f;
}

#navbar-dropdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    height: 40px;
    width: 140px;
    color: #fff;
    margin-left: 2px;
    background-color: #555a64;
    padding-left: 20px;
    font-weight: 900;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar-dropdown:hover {
    color: #ff781f;
}
#sign-out {
    font-size: 0.875em;
    font-weight: 600;
    text-decoration: none;
}
/*The properties of the hovering on the top nav bar of the home page*/
#sign-out:hover {
    color: red;
}
.container {
    width: fit-content;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    padding: 2%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.form-action input,textarea {
    width: 100%;
    height: 50px;
    border-radius: 4px;
}
#button-form {
    width: 100%;
    display: flex;
}
#button-form input {
    width: 50%;
    margin-right: 2%;
    border-radius: 4px;
}
.error {
    visibility: hidden;
}
#submit-btn {
    background-color: #f28500;
    color: #fff;
    border: 1px solid #f28500;
    font-weight: 600;
}
#submit-btn:hover {
    color: #ef672a;
    background-color: whitesmoke;
}
#cancel-btn {
    background-color: #cb4154;
    color: #fff;
    border: 1px solid #cb4154;
    font-weight: 600;
}
#cancel-btn:hover {
    color: red;
    background-color: whitesmoke;
}

.footer {
    height: 65px;
    background: #555a64;
    
}
.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: #ff781f;
}
.nav-container {
    margin-left: 40%;
    display: flex;
}
.icon {
    color: #fff;
}
.copy {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 4%;
    font-weight: 900;
}
/*The properties of the small quote on the About Us section*/
#small-quote {
    font-size: 25px;
    color: rgb(215, 94, 39);
    font-weight: 900;
    font-family: 'Bonheur Royale', cursive;
}
#small-quote:hover {
    color: #fff;
}
