/*The properties of the body*/
body{
    margin:0;
    padding:0;
    background-image:linear-gradient(rgba(20,27,41,0.8), rgba(20,27,41,0.9)),url(/imagefiles/band-photo.jpeg); 
    
}
/*The properties of the top-container on the forgot passoword page*/
#top-navbar{
    height: 100px;
    box-sizing: border-box;
    
   }
/*The properties of the logo on the top-navbar of the forgot password page*/
   #navbar-logo{
       font-family:'Bebas Neue', cursive;
       font-size: 45px;
       width:150px;
       color: rgb(215, 94, 39);
       text-decoration: none;
       margin-left: 5%;
       
       
      }
/*The properties of the small property on the logo of the top-nav bar  of the forgot password page*/
      #small-log{
      color: #fff;
      }
/*The properties of the inner div inside the div*/
      #navbar-inner-div{
      margin-left: 50%;
      }
/*The properties of the donthaveaccount on the navbar on the password page*/   
      #donthaveaccount{
        color: #fff;
        width: 70%;
        font-family: 'Open Sans', sans-serif;
      }
/*The properties of the registerwithus-link */
      #registerwithus-link{
        color:#ef672a;
        width: 200px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
       
      }
/*The properties of the hover on the registerwithus-link*/
      #registerwithus-link:hover{text-decoration: underline;}

/*The properties of the forgotpassword-container on the forgot password page*/   
   #forgotpassword-container{
    width:35%;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top:8%;
    height:350px;
    background-color: #141b29;
    
  }
 /*The properties of the paragragh in the forgotpassword-container*/   
 #forgotpassword-container p{
    color: #fff;
    font-family: "Open Sans", sans-serif;

 } 
 /*The properties of the input of email on the forgot password page*/
  #input-email{
    width: 90%;
    font-family: "Open Sans", sans-serif;
    height: 55px;
}
/*The properties  of the user-submit-send-password-link button*/
#user-submit-send-password-link{
    width: 90%;
    height: 55px; 
    color:#fff;
    text-align: center;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    background: #ef672a;
    border: 1px solid #ef672a;
}
/*The properties of the hovering on the user-submit-send-password-link button*/
#user-submit-send-password-link:hover{
    color:#ef672a;
    background-color: #fff;
    border: 1px solid #fff;

}