/*The properties of the body on the home page*/
body {
          margin: 0;
          padding: 0;

          background: #141b29;
}
/*The properties of the header of the home page*/
#header {
          height: 600px;
          background-image: linear-gradient(
                              rgba(20, 27, 41, 0.8),
                              rgba(20, 27, 41, 0.9)
                    ),
                    url(/imagefiles/band-photo.jpeg);
}
/*The properties of the top nav bar on the home page*/
#top-navbar {
          height: 100px;
          box-sizing: border-box;
          padding-top: 10px;
          padding-bottom: 20px;
          padding-left: 10px;
          padding-right: 20px;
          background-color: linear-gradient(
                    rgba(20, 27, 41, 0.8),
                    rgba(20, 27, 41, 0.9)
          );
}
/*The properties of the top-container on the page*/
#top-navbar {
          height: 100px;
          box-sizing: border-box;
}
/*The properties for the inner div inside the nav bar*/
#navbar-inner-div {
          margin-left: 50%;
}
/*The properties of the logo on the top-navbar of the loginpage*/
#navbar-logo {
          font-family: 'Bebas Neue', cursive;
          font-size: 45px;
          width: 150px;
          color: rgb(215, 94, 39);
          text-decoration: none;
          margin-left: 5%;
}
/*The properties of the small property on the logo on the navbar on the homepage*/
#small-log {
          color: #fff;
}
/*The properties of the inner div inside the nav bar*/
#navbar-inner-div {
          margin-left: 45%;
}
/*The properties of the artists link on the  top navbar of the homepage */
#navbar-artistes {
          font-family: 'Open Sans', sans-serif;
          font-size: 0.875em;
          height: 40px;
          width: 100px;
          margin-left: 5px;
          padding-left: 30px;
          padding-top: 10px;
          text-decoration: none;
          color: #fff;
          box-sizing: border-box;
}
/*The properties of the comedians link in the top nav bar of the homepage*/
#navbar-comedians {
          font-family: 'Open Sans', sans-serif;
          font-size: 0.875em;
          height: 40px;
          width: 120px;
          color: #fff;
          margin-left: 2px;
          padding-left: 30px;
          text-decoration: none;
          padding-top: 10px;
          box-sizing: border-box;
}
/*The properties of the bands on the top nav bar on the home page */
#navbar-bands {
          font-family: 'Open Sans', sans-serif;
          font-size: 0.875em;
          height: 40px;
          width: 80px;
          color: #fff;
          margin-left: 2px;
          padding-left: 20px;
          padding-top: 10px;
          text-decoration: none;
          box-sizing: border-box;
}
/*The properties of the about us on the top nav bar on the home page*/
#navbar-aboutus {
          font-family: 'Open Sans', sans-serif;
          font-size: 0.875em;
          height: 40px;
          width: 100px;
          color: #fff;
          margin-left: 2px;
          padding-left: 20px;
          padding-top: 10px;
          text-decoration: none;
          box-sizing: border-box;
}
/*The properties of the contactus on the top-nav bar*/
#navbar-contactus {
          font-family: 'Open Sans', sans-serif;
          font-size: 0.875em;
          height: 40px;
          width: 100px;
          color: #fff;
          margin-left: 2px;
          padding-left: 20px;
          padding-top: 10px;
          text-decoration: none;
          box-sizing: border-box;
}
/*The properties of the text area container inside of the header */
#header-text-area {
          text-align: center;
          box-sizing: border-box;
          height: 500px;
          margin: auto;
          padding-top: 50px;
          box-sizing: border-box;
          width: 80%;
}
/*The properties of the heading on the text area container */
#header-text-area h1 {
          color: #dedede;
          font-size: 60px;
          font-family: 'Carter One', cursive;
}
/*The properties of the paragraph in the text area */
#header-text-area P {
          color: #dedede;
          line-height: 30px;
          font-family: 'Open Sans', sans-serif;
}
/*The properties of the small quote on the header section. */
#small-header-quote {
          font-size: 25px;
          color: rgb(215, 94, 39);
          font-family: 'Bonheur Royale', cursive;
}
/*The properties of the signin on the top nav bar of the home page*/
#signin {
          font-size: 0.875em;
          height: 40px;
          width: 20%;
          color: #dedede;
          margin-left: 2px;
          margin-right: 30px;
          padding-left: 70px;
          padding-right: 70px;
          padding-bottom: 10px;
          padding-top: 10px;
          text-align: center;
          text-decoration: none;
          box-sizing: border-box;
          border: 1px solid #fff;
}
/*The properties of the hovering on the top nav bar of the home page*/
#signin:hover {
          background-color: #fff;
          color: #ff781f;
}
/*The properties of the register button on the header section*/
#register-with-us {
          font-size: 0.875em;
          height: 40px;
          width: 20%;
          color: #dedede;
          margin-left: 2px;
          margin-right: 30px;
          padding-left: 70px;
          padding-right: 70px;
          padding-bottom: 10px;
          padding-top: 10px;
          text-align: center;
          text-decoration: none;
          box-sizing: border-box;
          border: 1px solid #fff;
}
/*The properties of the hover on the register. */
#register-with-us:hover {
          background-color: #fff;
          color: #ff781f;
}

/*The properties of the first image div */
#image-div1 {
          height: auto;
          margin-left: 6%;
          padding: 0;
          margin-top: 2%;
          margin-bottom: 2%;
          /* background: #141b29; */
}
/*The properties of the text-div1 */
#text-div1 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          background-color: #141b29;
          height: auto;
          margin-top: 2%;
          margin-bottom: 2%;
}
/*The properties of the image inside the card1*/
#azawi-img {
          width: 250px;
          height: 250px;
}
/*The properties of the title inside the text-div1 body*/
#title-ID1 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of the twitter handle text*/
#small-handle1 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of image-div3 .*/
#image-div3 {
          height: auto;
          margin-left: 6%;
          padding: 0;
          margin-top: 2%;
          margin-bottom: 2%;
          background: #141b29;
}
/*The properties of the body on the  text div3 */
#text-div3 {
          color: #aed3e1;
          margin-top: 2%;
          margin-bottom: 2%;
          background-color: #141b29;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
}
/*The properties of the twitter handle text on  */
#small-handle3 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of the image of fik fameica*/
#fik-img {
          height: 250px;
          width: 250px;
}
/*The properties of the title inside the div*/
#title-ID3 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}

/*The properties of image-div2 */
#image-div2 {
          height: auto;
          margin-left: 2%;
          padding: 0;
          margin-top: 2%;
          margin-bottom: 2%;
          /* background: #141b29; */
}
/*The properties of the text-div2 */
#text-div2 {
          color: #aed3e1;
          background-color: #141b29;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          height: auto;
          margin-top: 2%;
          margin-bottom: 2%;
}

/*The properties of the image of chameleon*/
#camili-img {
          height: 250px;
          width: 250px;
}
/*The properties of the twitter handle in card 3*/
#small-handle2 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body of card3*/
#title-ID2 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}

/*The properties of  card4 on the carousel*/
#image-div4 {
          height: auto;
          background: #141b29;
          margin-left: 2%;
          margin-top: 2%;
          margin-bottom: 2%;
          padding: 0;
}
/*The properties of the cardbody of card4 */
#text-div4 {
          color: #aed3e1;
          margin-top: 2%;
          margin-bottom: 2%;
          background-color: #141b29;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
}

/*The properties of the image inside the card4*/
#juliana-img {
          height: 250px;
          width: 250px;
}
/*The properties of the title inside the card body on card 4*/
#title-ID4 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of the twitter handle inside card 4*/
#small-handle4 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of  card5 on the carousel*/
#image-div5 {
          height: auto;
          margin-top: 2%;
          margin-bottom: 2%;
          margin-left: 6%;
          padding: 0;
          background: #141b29;
}
/*The properties of the cardbody of card 5*/
#text-div5 {
          color: #aed3e1;
          margin-top: 2%;
          background: #141b29;
          margin-bottom: 2%;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
}

/*The properties of the image inside the card5*/
#mung-img {
          height: 250px;
          width: 250px;
}
/*The properties of the title inside the card body of card5*/
#title-ID5 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of the twitter handle on the card5*/
#small-handle5 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}
/*The properties of card6 on the carousel. */
#image-div6 {
          height: auto;
          margin-left: 2%;
          background: #141b29;
          margin-top: 2%;
          margin-bottom: 2%;
          padding: 0;
}
/*The properties of the cardbody inside the card6*/
#text-div6 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          margin-top: 2%;
          background: #141b29;
          margin-bottom: 2%;
}

/*The properties of the image inside card6*/
#vinka-img {
          height: 250px;
          width: 250px;
}
/*The properties of the title inside the card body of card6*/
#title-ID6 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of the twitter handle on card6*/
#small-handle6 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}
/*The properties of  card7 on the carousel*/
#image-div7 {
          height: auto;
          margin-left: 6%;
          padding: 0;
          margin-top: 2%;
          margin-bottom: 2%;
          background: #141b29;
}
/*The properties of the cardbody on card7*/
#text-div7 {
          color: #aed3e1;
          margin-top: 2%;
          margin-bottom: 2%;
          background: #141b29;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
}

/*The properties of the image inside the card7*/
#sheeba-img {
          height: 250px;
          width: 250px;
}
/*The properties of twitter handle on card 7*/
#small-handle7 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body of card7*/
#title-ID7 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of  card8  on the carousel*/
#image-div8 {
          height: auto;
          margin-left: 2%;
          margin-top: 2%;
          margin-bottom: 2%;
          background: #141b29;
          padding: 0;
}
/*The properties of the cardbody on card 8 */
#text-div8 {
          color: #aed3e1;
          margin-top: 2%;
          margin-bottom: 2%;
          background: #141b29;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
}

/*The properties of the image inside the card8*/
#maurice-img {
          height: 250px;
          width: 250px;
}
/*The properties of the twitter handle on card8*/
#small-handle8 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card bod of card8*/
#title-ID8 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of card9 on the carousel.*/
#image-div9 {
          height: auto;
          background: #141b29;
          margin-left: 6%;
          padding: 0;
          margin-top: 2%;
          margin-bottom: 2%;
}
/*The properties of the cardbody on  card9*/
#text-div9 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          background: #141b29;
          margin-top: 2%;
          margin-bottom: 2%;
}

/*The properties of the image inside the card9*/
#rema-img {
          height: 250px;
          width: 250px;
}
/*The properties of the title inside the card body of card9*/
#title-ID9 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of the twitter handle on card9*/
#small-handle9 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}
/*The properties of card10 on the carousel*/
#image-div10 {
          height: auto;
          background: #141b29;
          margin-left: 2%;
          padding: 0;
          margin-top: 2%;
          margin-bottom: 2%;
}
/*The properties of card 10 on the carousel.*/
#text-div10 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          margin-top: 2%;
          background: #141b29;
          margin-bottom: 2%;
}

/*The properties of the image inside card10*/
#kenzo-img {
          height: 250px;
          width: 250px;
}
/*The properties of the title inside the card body of card 10*/
#title-ID10 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of the twitter handle on card 10.*/
#small-handle10 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}
/*The properties of  card11 on the carousel*/
#image-div11 {
          height: auto;
          background: #141b29;
          margin-left: 6%;
          padding: 0;
          margin-top: 2%;
          margin-bottom: 2%;
}
/*The properties of the cardbody on card 11 */
#text-div11 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          background: #141b29;
          margin-top: 2%;
          margin-bottom: 2%;
}

/*The properties of the image inside  card11*/
#bebe-img {
          height: 250px;
          width: 250px;
}
/*The properties of the twitter handle on card11.*/
#small-handle11 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body of card 11.*/
#title-ID11 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of card 12 on the carousel*/
#image-div12 {
          height: auto;
          margin-left: 2%;
          background: #141b29;
          margin-top: 2%;
          margin-bottom: 2%;
          padding: 0;
}
/*The properties of the cardbody on card 12*/
#text-div12 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          background: #141b29;
          margin-top: 2%;
          margin-bottom: 2%;
}

/*The properties of the image inside the card12*/
#nwagi-img {
          height: 250px;
          width: 250px;
}
/*The properties of the twitter handle on card12. */
#small-handle12 {
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body on card 12.*/
#title-ID12 {
          font-family: 'Bonheur Royale', cursive;
          font-size: 30px;
}
/*The properties of the class for the twitter handles on the carousel. */
.text-muted {
          font-family: 'Open Sans', sans-serif;
          color: #aed3e1 !important;
}
/*The properties of  image-div13 on the carousel*/
#image-div13 {
    height: auto;
    background: #141b29;
    margin-left: 6%;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*The properties of the cardbody on text-div13*/
#text-div13 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside  img-div13*/
#ninarose-img {
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on text-div13 */
#small-handle13 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body of text-div 13.*/
#title-ID13 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}
/*The properties of card 12 on the carousel*/
#image-div14 {
    height: auto;
    margin-left: 2%;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
}
/*The properties of the cardbody on card 12*/
#text-div14{
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside the card12*/
#navio-img{
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on card12. */
#small-handle14 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body on card 14.*/
#title-ID14 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}

/*The properties of  image-div15 on the carousel*/
#image-div15 {
    height: auto;
    background: #141b29;
    margin-left: 6%;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*The properties of the cardbody on text-div13*/
#text-div15 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside  img-div15*/
#apass-img {
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on text-div13 */
#small-handle15 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body of text-div 13.*/
#title-ID15 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}
/*The properties of card 12 on the carousel*/
#image-div16{
    height: auto;
    margin-left: 2%;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
}
/*The properties of the cardbody on card 12*/
#text-div16{
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside the card12*/
#spicy-img{
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on card12. */
#small-handle16 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body on card 14.*/
#title-ID16 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}

/*The properties of  image-div15 on the carousel*/
#image-div17 {
    height: auto;
    background: #141b29;
    margin-left: 6%;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*The properties of the cardbody on text-div13*/
#text-div17 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside  img-div15*/
#pia-img{
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on text-div13 */
#small-handle17 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body of text-div 13.*/
#title-ID17 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}
/*The properties of card 12 on the carousel*/
#image-div18{
    height: auto;
    margin-left: 2%;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
}
/*The properties of the cardbody on card 12*/
#text-div18{
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside the card12*/
#naava-img{
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on card12. */
#small-handle18 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body on card 14.*/
#title-ID18 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}
/*The properties of  image-div15 on the carousel*/
#image-div19 {
    height: auto;
    background: #141b29;
    margin-left: 6%;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*The properties of the cardbody on text-div13*/
#text-div19 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside  img-div15*/
#daddyandre-img{
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on text-div13 */
#small-handle19 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body of text-div 13.*/
#title-ID19 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}
/*The properties of card 12 on the carousel*/
#image-div20{
    height: auto;
    margin-left: 2%;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
}
/*The properties of the cardbody on card 12*/
#text-div20{
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #141b29;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*The properties of the image inside the card12*/
#lydia-img{
    height: 250px;
    width: 250px;
}
/*The properties of the twitter handle on card12. */
#small-handle20 {
    color: #aed3e1;
    font-family: 'Open Sans', sans-serif;
}

/*The properties of the title inside the card body on card 14.*/
#title-ID20{
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
}
 
/*The properties of the footer*/
#footer {
          background: #2b313e;
          height: 420px;
}
/*The properties of the AboutUs-Section*/
#AboutUs-Section {
          margin-top: 20px;
          margin-left: 5%;
          background: #2b313e;
}
/*The properties of the h2 inside the AboutUs Section*/
#AboutUs-Section h2 {
          color: #aed3e1;
          font-family: 'Bonheur Royale', cursive;
}
/*The properties of the paragraph inside the AboutUs Section*/
#AboutUs-Section p {
          color: #aed3e1;
          font-size: 14px;
          line-height: 35px;
          font-family: 'Open Sans', sans-serif;
}
/*The properties of the small quote on the About Us section*/
#small-quote {
          margin-left: 30%;
          font-size: 25px;
          color: rgb(215, 94, 39);
          font-family: 'Bonheur Royale', cursive;
}
/*The properties of the Contact Us-Section*/
#ContactUs-Section {
          background: #2b313e;
          margin-top: 20px;
          padding-right: 0;
}
/*The properties of the h2 on top of the Contact Us.*/
#contactus-heading {
          color: #aed3e1;
          font-family: 'Bonheur Royale', cursive;
}
/*The properties of the contact info section*/
#contact-info {
          width: 40%;
          color: #aed3e1;
          font-family: 'Open Sans', sans-serif;
          float: left;
          padding-left: 20px;
          box-sizing: border-box;
          background: #2b313e;
}
/*The properties of the contact-input*/
#contact-input {
          width: 60%;
          float: right;
          background: #2b313e;
          height: auto;
          box-sizing: border-box;
          padding-top: 20px;
          padding-left: 10px;
          color: #aed3e1;
}
/*The properties of the input for name*/
#inputname {
          font-family: 'Open Sans', sans-serif;
          width: 320px;
}
/*The properties of the input for email*/
#inputemail {
          font-family: 'Open Sans', sans-serif;
          width: 320px;
}
/*The properties of the input message section. */
#inputmessage {
          width: 320px;
          font-family: 'Open Sans', sans-serif;
          /* height: 200px; */
}
/*The properties of the submit button*/
#submit-feedback {
          width: 200px;
          border-radius: 25px;
          color: #fff;
          border: 1px solid rgb(215, 94, 39);
          font-weight: 800;
          font-family: 'Open Sans', sans-serif;
          background-color: rgb(215, 94, 39);
          margin-left: 20%;
}
/*The properties of the submit button hover.*/
#submit-feedback:hover {
          color: rgb(215, 94, 39);
          background-color: #fff;
          border: 1px solid #fff;
}

/*THE MEDIA QUERIES FOR THE HOME PAGE. */
/* Extra small devices (phones, 600px and down) */
