doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title UGAAMUX AboutUs
    link(rel='stylesheet' href='/cssfiles/css/bootstrap.min.css')
    link(rel='stylesheet' href='/cssfiles/aboutUs.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Carter+One&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
  body
    // -Code for the top navigation bar
    nav#top-navbar.navbar.navbar-expand-lg.navbar-dark.
      .container-fluid
        a#navbar-logo.navbar-brand(href='/')
          small#small-log UGAA
          | MUX
          img#logopicture(src='/imagefiles/ugflag.jpeg' alt='UG-LOGO' height='30px' width='50px')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          #navbar-inner-div.navbar-nav
            a#navbar-home.nav-link(href='/')  Home 
            a#navbar-aboutus.nav-link.(aria-current='page' href='/aboutUs')
              | About
              | Us
            a#navbar-artistes.nav-link(href='/artists') Artists
            a#navbar-bands.nav-link(href='/bands') Bands
            a#navbar-comedians.nav-link(href='/comedians') Comedians
            a#navbar-contactus.nav-link(href='/contactinfo/contactUs') Contact Us
    // Code for the header section
    #header.container-fluid
      // Code for the inner text box inside the header section
      .header-text-area
        h1 About Us
        small#small-header-quote Ugandan Talent Lives Here!!!
    .container
      .row
        .col-log-6.about-us
          h2 About Us 
          p
            | UGAAMUX is a platform that registers the creatives in Uganda, and gives artistes a uniform
            | platform
            | to showcase their work to their fans. Fans can view the works of celebrities, and creatives on
            | the
            | other
            | hand, have a platform to show the public their authentic work, their fans probably didnot
            | about. Get to know your celebrities more and their work. As a creative get in touch with UGAAMUX to
            | showcase your work to the public. Lets re-introduce you to the Ugandan talent because, Ugandan
            | talent lives here.
          small#small-about-quote Ugandan Talent Lives Here!!!
        .col-log-6.about-us
          img(src='/imagefiles/trumphet-player.jpeg' alt='cartoon-trumphetplayer')
          img(src='/imagefiles/traditionaldancer2.jpeg' alt='cartoon-dancer')
    .row
      .col-lg-2.left-card.about-card
        h5 History
        p
          | Formed from the need to build an Archive for all creatives in Uganda, an intiative by National
          | Cultural Center in conjuction with Uganda Performing Arts Association of Uganda
      .col-lg-2.about-card
        h5 Mission
        p To give creatives a platform to showcase talent.
      .col-lg-2.about-card
        h5 Vision
        p To have the biggest and well-rounded database for all creatives in Uganda.
      .col-lg-2.about-card
        h5 Goal
        p Our goal is to give all creatives an equal platform.
      .col-lg-2.about-card
        h5 Location
        p 13th Street Nansana, Wamala.
        p Kampala,Uganda
    .navbar.navbar-expand-lg.navbar-dark.footer
      a.nav-link.copy(href='#') &copy 2021 Grace Nakazibwe 
      small#small-quote Ugandan Talent Lives Here
      .nav-container
        a.nav-link.icon(href='#')
          i.fa.fa-facebook-square
        a.nav-link.icon(href='#')
          i.fa.fa-twitter-square
        a.nav-link.icon(href='#')
          i.fa.fa-google-plus-square
        a.nav-link.icon(href='#')
          i.fa.fa-instagram
        a.nav-link.icon(href='#')
          i.fa.fa-linkedin
    script(src='javaScriptfiles/js/bootstrap.min.js')
