<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGAAMUX Artist Account</title>
    <link rel="stylesheet" href="/cssfiles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cssfiles/artistaccount.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
   
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="top-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-logo" href="/"><small id="small-log">UGAA</small>MUX<img
                    src="/imagefiles/ugflag.jpeg" alt="UG-LOGO" id="logopicture" height="30px" width="50px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navbar-inner-div">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navbar-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
            
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item" id="sign-out" href="/">LOG OUT</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <div class="container">   
        <div class="row">
            <div class="col-lg-4 photo-div">
                <img src="/imagefiles/Azawi.jpeg" class="img-fluid" alt="artist photo">
                <div class="row">
                    <a class=" artistgenre">Genre<br>RnB</a>
                    <a class=" artistalbums">Albums <br>23</a>
                    <a class=" artistsongs">Songs<br> 234</a>
                </div>
            </div>
            <div class="col-lg-7 artist-info">

                <div class=" row  moreinformation">
                    <h5>Personal Information</h5>
                    <div class="col-lg-5 containerA">
                        <p>First name</p>
                        <p>Last name</p>
                        <p>Stage name</p>
                        <p>Telephone</p>
                        <p>Twitter </p>
                        <p>Email</p>
                        <p>Date of Birth</p>
                        <p>District</p>
                        <p>Date Music Began</p>
                        <p>Location</p>
                        <p>Gender</p>

                    </div>
                    <div class=" col-lg-5  containerB">
                        <p>Artist First name</p>
                        <p>Artist Last name</p>
                        <p>Artist Stage name</p>
                        <p>Artist Telephone</p>
                        <p>Artist Twitter </p>
                        <p>Artist Email</p>
                        <p>Artist Date of Birth</p>
                        <p>Artist District</p>
                        <p>Artist Date Music Began</p>
                        <p>Artist Location</p>
                        <p>Artist Gender</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="navbar navbar-expand-lg navbar-dark footer">
        <a href="#" class="nav-link copy">&copy 2021 Grace Nakazibwe </a>
        <small id="small-quote">Ugandan Talent Lives Here</small>
        <div class="nav-container">
            <a href="#" class="nav-link icon"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-twitter-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-google-plus-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-instagram"></i></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <script src="/javaScriptfiles/js/bootstrap.min.js"></script>
</body>

</html>