doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title UGAAMUX bands
    link(rel='stylesheet' href='/cssfiles/css/bootstrap.min.css')
    link(rel='stylesheet' href='/cssfiles/bands.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Carter+One&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
  body
    nav#top-navbar.navbar.navbar-expand-lg.navbar-dark
      .container-fluid
        a#navbar-logo.navbar-brand(href='/')
          small#small-log UGAA
          | MUX
          img#logopicture(src='/imagefiles/ugflag.jpeg' alt='UG-LOGO' height='30px' width='50px')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          #navbar-inner-div.navbar-nav
            a#navbar-home.nav-link(href='/')  Home 
            a#navbar-aboutus.nav-link.active(aria-current='page' href='/aboutUs')
              | About
              | Us
            a#navbar-artistes.nav-link(href='/artists') Artists
            a#navbar-bands.nav-link(href='/bands') Bands
            a#navbar-comedians.nav-link(href='/comedians') Comedians
            a#navbar-contactus.nav-link(href='/contactinfo/contactUs') Contact Us
    // Code for the header section
    #header.container-fluid
      // Code for the inner text box inside the header section
      #header-text-area.container
        form.d-flex.top-search
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search' name = 'BandName')
          button.btn.btn-outline-success.search-btn(type='submit') Search
        h1 Bands
        small#small-header-quote Ugandan Talent Lives Here!!!
    .row
      if bands.length 
      each band in bands 
        .col-lg-5.img-div-left
          img.card-img-top.img-fluid(src='/'+band.Profilepicture alt=' band photo')
        .col-lg-5.text-div-left
          h5.card-title.TITLE  #{band.BandName}  
          p.card-text
            | #{band.bio}  
          a.card-text(href='#')
            small.text-muted  #{band.twitter}  
      //- .row
      //-   .col-lg-5.img-div-left
      //-     img.card-img-top.img-fluid(src='/imagefiles/magic-hornz.jpeg' alt='Magic Hornz band')
      //-   .col-lg-5.text-div-left
      //-     h5.card-title.TITLE Magic Hornz Band
      //-     p.card-text
      //-       | Magic Hornz
      //-       | performances combine Jazz, traditional African Beats, folk, Raggae and Salsa with an
      //-       | original mix of traditional and contemporary sounds from around globe, giving the music a punchy front
      //-       | line-up to flavour the performance with magic of the Horns.
      //-     a.card-text(href='#')
      //-       small.text-muted  @BandHornz 
      //- .row
      //-   .col-lg-5.img-div-left
      //-     img.card-img-top.img-fluid(src='/imagefiles/canaan-gents.jpeg' alt='Canaan gents')
      //-   .col-lg-5.text-div-left
      //-     h5.card-title.TITLE  Canaan Gents Band
      //-     p.card-text
      //-       | Canaan Gents is an Acapella vocal band devoted to making Christ famous
      //-       | while pursuing excellence and setting a trend in Capella music. The band sings in
      //-       | stunning vocal harmony without instrumental accompaniment. It's an engaging mix of tightly-crafted
      //-       | music.
      //-       | Canaan gents has stamped its mark in the musical arena by releasing an EP dubbed "Nkwagala EP" of 8
      //-       | songs
      //-       | as well Uganda’s first A cappella music video for their song “Sing”.
      //-     a.card-text(href='#')
      //-       small.text-muted  @Canaangents
      //- .row
      //-   .col-lg-5.img-div-left
      //-     img.card-img-top.img-fluid(src='/imagefiles/NewEaglesBand.png' alt='New Eagles band')
      //-   .col-lg-5.text-div-left
      //-     h5.card-title.TITLE  The New Eagles Band
      //-     p.card-text
      //-       | The New Eagles band has won not only the admiration of musical pundits,
      //-       | critics and local audiences, but also the support of distinguished international music
      //-       | promoters. This band was founded by the singing couple Geofrey Lutaaya and Irene Namatovu.
      //-     a.card-text(href='#')
      //-       small.text-muted  De New Eagles
      //- .row
      //-   .col-lg-5.img-div-left
      //-     img.card-img-top.img-fluid(src='/imagefiles/Janziband.jpeg' alt='Janzi band')
      //-   .col-lg-5.text-div-left
      //-     h5.card-title.TITLE  Janzi Band
      //-     p.card-text
      //-       | Janzi is a Ugandan afro-fusion, contemporary and world music band formed on 27 August
      //-       | 2009 by Ssewa Ssewa and friends Abraham Sekasi, Jackson Kirya and Steven Oundo. The band has a hybrid
      //-       | repertoire of music, including notable covers as well as an original ethno-pop discography.
      //-     a.card-text(href='#')
      //-       small.text-muted  @JanziBand
      //- .row
      //-   .col-lg-5.img-div-left
      //-     img.card-img-top.img-fluid(src='/imagefiles/AfrigoBand.jpeg' alt='Afrigo band')
      //-   .col-lg-5.text-div-left
      //-     h5.card-title.TITLE  Afrigo Band
      //-     p.card-text
      //-       | The Afrigo Band is a musical band in Uganda. It is the longest-lasting musical
      //-       | group in the history of Uganda, having existed for 46 years by August 2021. The band is famous
      //-       | for alot of its works like the famous, "Sikulimba" .
      //-     a.card-text(href='#')
      //-       small.text-muted  @Afrigoband256
      //- .row
      //-   .col-lg-5.img-div-left
      //-     img.card-img-top.img-fluid(src='/imagefiles/GoldenBand.png' alt='Golden band')
      //-   .col-lg-5.text-div-left
      //-     h5.card-title.TITLE  Golden Band
      //-     p.card-text
      //-       | The golden band was founded after the falling out of the old Eagles Production
      //-       | band. The Golden
      //-       | band has many popular artists such as Mesearch Ssemakula and Catherine
      //-       | Kusasira.
      //-     a.card-text(href='#')
      //-       small.text-muted  The Golden Band
    .navbar.navbar-expand-lg.navbar-dark.footer
      a.nav-link.copy(href='#') &copy 2021 Grace Nakazibwe 
      small#small-quote Ugandan Talent Lives Here
      .nav-container
        a.nav-link.icon(href='#')
          i.fa.fa-facebook-square
        a.nav-link.icon(href='#')
          i.fa.fa-twitter-square
        a.nav-link.icon(href='#')
          i.fa.fa-google-plus-square
        a.nav-link.icon(href='#')
          i.fa.fa-instagram
        a.nav-link.icon(href='#')
          i.fa.fa-linkedin
    script(src='/javaScriptfiles/js/bootstrap.min.js') 
