<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGAAMUX Clerk Registration.</title>
    <link rel="stylesheet" href="/cssfiles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cssfiles/clerkregform.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark " id="top-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-logo" href="/clerkregistrationform"><small id="small-log">UGAA</small>MUX<img
                    src="/imagefiles/ugflag.jpeg" alt="UG-LOGO" id="logopicture" height="30px" width="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navbar-inner-div">

                    <a class="nav-link" id="donthaveaccount"> Don't have a clerk account? </a>
                    <a class="nav-link" id="registerwithus-link" href="/clerkregistrationform"> Register
                        Now.</a>

                </div>
            </div>
        </div>
    </nav>
    <div class="container" id="registermessage-container">
        <a class="navbar-brand" id="navbar-logo" href="/clerkregistrationform"><small id="small-log">UGAA</small>MUX<img
                src="/imagefiles/ugflag.jpeg" alt="UG-LOGO" id="logopicture" height="30px" width="50px"></a>
        <p>Create Clerk Account </p>
        <p>Use your credentials to login in to your account.</p>
        <form  action = "/clerkregistrationform" method = "POST" name = "ClerkRegistration" id="form-id">
            <div class="form-action">
                <input type="text"  name= "firstname" id="firstname" placeholder="Enter Your First Name">
            </div>  
            <small id="first-name-error"></small>
            <div class="form-action">
                <input type ="text"  name = "lastname" id="lastname" placeholder="Enter Your Last Name">
            </div>   
            <small id="last-name-error"></small>
            <div class="form-action">
                <input type="text" name= "email" id="clerkemail" placeholder="Enter Your Email">
            </div>
            <small id="email-error"> </small>
            <div class="form-action">
                <input type="password" name= "password" id="clerkpassword" placeholder="Create Password">
            </div>
            <small id="password-error"> </small>

            <div class="form-action">
                <select name="role" id="clerkrole">
                    <option value="default">Enter Role</option>
                    <option value="clerk">Clerk</option>
                </select>
            </div>
            <small id="role-error"></small>

            <div class="form-action">
                <input type="submit" id="submitmessage" value="REGISTER">
            </div>
        </form>

    </div>
    

    




    <div class="navbar navbar-expand-lg navbar-dark footer">
        <a href="#" class="nav-link copy">&copy 2021 Grace Nakazibwe </a>
        <small id="small-quote">Ugandan Talent Lives Here</small>
        <div class="nav-container">
            <a href="#" class="nav-link icon"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-twitter-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-google-plus-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-instagram"></i></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-linkedin"></i></a>
        </div>
    <script src="/javaScriptfiles/js/bootstrap.min.js"></script>
    <script src="/javaScriptfiles/clerkregform.js"></script>
</body>
</html>