<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGAAMUX Comedians</title>
    <link rel="stylesheet" href="/cssfiles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cssfiles/comedians.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!---Code for the top navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark " id="top-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-logo" href="/"><small id="small-log">UGAA</small>MUX<img
                    src="/imagefiles/ugflag.jpeg" alt="UG-LOGO" id="logopicture" height="30px" width="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navbar-inner-div">
                    <a class="nav-link" id="navbar-home" href="/"> Home</a>
                    <a class="nav-link active" aria-current="page" id="navbar-aboutus" href="/aboutUs">About
                        Us</a>
                    <a class="nav-link" id="navbar-artistes" href="/artists">Artists</a>
                    <a class="nav-link" id="navbar-bands" href="/bands">Bands</a>
                    <a class="nav-link" id="navbar-comedians" href="/comedians">Comedians</a>
                    <a class="nav-link" id="navbar-contactus" href="/contactinfo/contactUs">Contact Us</a>

                </div>
            </div>
        </div>
    </nav>
    <!--Code for the header section-->
    <div class="container-fluid" id="header">
        <!--Code for the inner text box inside the header section-->
        <div class="container" id="header-text-area">
            <form class="d-flex top-search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success search-btn" type="submit">Search</button>
            </form>
            <h1>Comedians</h1>
            <small id="small-header-quote">Ugandan Talent Lives Here!!!</small>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/Anne-Kansiime.jpeg" class="img-fluid " alt="kansime photo">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> Anne Kansime </h5>
            <p class="card-text">Anne Kansiime, is a Ugandan entertainer, comedian, and actress. She has
                been
                referred to as "Africa's Queen of Comedy" by some African media outlets.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @Kansiime256</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/UncleMo.jpeg" class="img-fluid " alt="Uncle Mo">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE"> Uncle Mo</h5>
            <p class="card-text">Uncle Mo is a Ugandan comedian whose satire ranges from politics to
                day to day events .He has been a practicing commedian whose art got alot
                of traction during the lockdown in the pandemic because of his style of comedy. </p>
            <a href="#" class="card-text"><small class="text-muted">
                    @mkiboneka</small></a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/Alexmuhangi.png" class="img-fluid " alt="Alexmuhangi">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> Alex Muhangi </h5>
            <p class="card-text">Alex Muhangi, is a Ugandan comedian, actor, sound engineer, director and host of the
                comedy show, Comedy Store Uganda.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @AlexMuhangi</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/idrngi.jpeg" class="img-fluid " alt="Salvador">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE"> Salvador</h5>
            <p class="card-text">Salvador is a Ugandan Engineer, Comedian and radio personality who rose to
                fame
                and fortune after participating in the comedy competition called Stand Up Uganda. </p>
            <a href="#" class="card-text"><small class="text-muted">
                    @idringp</small></a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/Richard.jpeg" class="img-fluid " alt="RichardTuwangye">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> Richard Tuwangye</h5>
            <p class="card-text">Richard Tuwangye is a Ugandan actor, comedian, and musician. He is a founding member of
                Fun Factory Uganda.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @RichardTuwangye</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/herbertMendoSegujja.jpeg" class="img-fluid "
                alt="Herbert Segujja">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE">Teacher Mpamire</h5>
            <p class="card-text"> Teacher
                Mpamire is a Ugandan comedian, actor .
                He is most famous for
                mimicking the Ugandan president, Yoweri Kaguta Museveni. </p>
            <a href="#" class="card-text"><small class="text-muted">
                    @HerbertSegujja</small></a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/unclemark.jpeg" class="img-fluid " alt="unclemark">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> Uncle Mark </h5>
            <p class="card-text">Uncle Mark is a Ugandan entertainer and events emcee. He is well
                known in the Ugandan comedy circles for his work at Comedy Store Uganda.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @UncleMarkUganda</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/conan.jpeg" class="img-fluid " alt="Tumusiime">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE">Tumu Siime</h5>
            <p class="card-text"> Tumu Siime is a Ugandan comedian and media personality who uses humour and satire to
                express himself on social economic issues. He is mostly famous for his work on his youtube channel Tumu
                Siime.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @tumusiimeUg</small></a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/Mariach.jpeg" class="img-fluid " alt="Mariach">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> MC Mariach </h5>
            <p class="card-text"> MC Mariachi is a Ugandan comedian. He is well
                known in the Ugandan comedy circles for his work at Comedy Store Uganda.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @McMariachi</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/Madrat.jpeg" class="img-fluid " alt="madrat&chiko">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE">Mad Rat & Chiko</h5>
            <p class="card-text"> Madrat and Chiko are two Stand-up comedians that perform as a duo. The duo
                is mostly famous for their performances on the comedy store.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @chikoandmadrat</small></a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/Taata-Sam.jpeg" class="img-fluid " alt="Tata Sam">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> Tata Sam </h5>
            <p class="card-text"> Tata Sam is a Ugandan comedian that is famous for his hillarious clips where he
                potrays a middle-aged man with unusually weird character.</p>
            <a href="#" class="card-text"><small class="text-muted">
                    @Robert27985267</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/Kapale.jpeg" class="img-fluid " alt="Kapale">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE"> MC Kapale</h5>
            <p class="card-text"> MC Kapale is a Stand-up comedian and MC. His style of comedy is random and unique,
                since
                he does not rehearse his performances, he tests the audience to see what topics and jokes resonate with
                them.
            </p>
            <a href="#" class="card-text"><small class="text-muted">
                    @mc_kapale</small></a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/Zizzinga.jpeg" class="img-fluid " alt="Zizinga">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> Zizinga </h5>
            <p class="card-text">Zizinga is a Ugandan Comedian, radio presenter and television personality who
                is known for his type of sketch comedy. He became very popular for the kind of comedy that he does. </p>
            <a href="#" class="card-text"><small class="text-muted">
                    @ZzizingaDickson</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/Amooti-Omubalanguzi.jpeg" class="img-fluid "
                alt="Amoti">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE"> Amooti Omubalanguzi</h5>
            <p class="card-text"> Amooti Omubalanguzi is a comedian, artist and radio personality. He is a stand-up
                comedian and is mostly famous for his work in comedy store and fun factory.
            </p>
            <a href="#" class="card-text"><small class="text-muted">
                    @AOmubalanguzi</small></a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 left-image-div">
            <img src="/imagefiles/DanielOmara.jpeg" class="img-fluid " alt="DanielOmara">
        </div>
        <div class="col-lg-3 left-text-div">
            <h5 class="card-title TITLE"> Daniel Omara </h5>
            <p class="card-text">Daniel Omara, is an actor, television and radio host who is best known as a stand-up
                comedian. He started comedy nine years ago. </p>
            <a href="#" class="card-text"><small class="text-muted">
                    Daniel Omara</small></a>
        </div>
        <div class="col-lg-2  right-image-div"><img src="/imagefiles/Pablo2.jpeg" class="img-fluid " alt="Pablo">
        </div>
        <div class="col-lg-3 right-text-div">
            <h5 class="card-title TITLE"> Pablo </h5>
            <p class="card-text"> Pablo Ugandan comedian, playwright and journalist. He is a famous stand-up comedian
                who
                is mostly known for his works with fun factory.
            </p>
            <a href="#" class="card-text"><small class="text-muted">
                    @PabloKimuli</small></a>
        </div>

    </div>



    <div class="navbar navbar-expand-lg navbar-dark footer">
        <a href="#" class="nav-link copy">&copy 2021 Grace Nakazibwe </a>
        <small id="small-quote">Ugandan Talent Lives Here</small>
        <div class="nav-container">
            <a href="#" class="nav-link icon"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-twitter-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-google-plus-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-instagram"></i></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>











    <script src="javaScriptfiles/js/bootstrap.min.js"></script>
</body>

</html>