<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGAAMUX ContactUs</title>
    <link rel="stylesheet" href="/cssfiles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cssfiles/contactUs.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <!---Code for the top navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark " id="top-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-logo" href="/"><small id="small-log">UGAA</small>MUX<img
                    src="/imagefiles/ugflag.jpeg" alt="UG-LOGO" id="logopicture" height="30px" width="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navbar-inner-div">
                    <a class="nav-link" id="navbar-home" href="/">Home</a>
                    <a class="nav-link active" aria-current="page" id="navbar-aboutus" href="/aboutUs">About
                        Us</a>
                    <a class="nav-link" id="navbar-artistes" href="/artists">Artists</a>
                    <a class="nav-link" id="navbar-bands" href="/bands">Bands</a>
                    <a class="nav-link" id="navbar-comedians" href="/comedians">Comedians</a>
                    <a class="nav-link" id="navbar-contactus" href="/contactinfo/contactUs">Contact Us</a>

                </div>
            </div>
        </div>  
    </nav>
    <!--Code for the header section-->
    <div class="container-fluid" id="header">
        <!--Code for the inner text box inside the header section-->
        <div class="header-text-area">
            <h1>Contact Us</h1>

            <small id="small-header-quote">Ugandan Talent Lives Here!!!</small>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4  contacts contact-info">
                <div class="form-action">
                    <h2 id="contactus-heading">Contact Us</h2>
                    <h2>Location</h2>
                    <p>13th Street Nansana, Wamala.</p>
                    <h2>Email Us</h2>
                    <p>info@ugaamux.com</p>

                    <h2>Call Us</h2>
                    <p>+256-414-674-867</p>
                    <p>+256-774-869-821</p>
                    <p>+256-702-481-032</p>

                </div>
            </div>
            <div class="col-lg-7 contacts contact-input">
                <form action="/contactinfo/contactUs" method="POST" id="form-id" name="contactUsform">
                    <div class="form-action">
                        <label for="inputfirstname" id="firstnamelabel"> First Name</label>
                        <label for="inputlastname" id="last-name-label"> Last Name</label>
                        <div class="inner-flex">

                            <input type="text" name="firstname" id="inputfirstname" placeholder="First Name">


                            <input type="text" name="lastname" id="inputlastname" placeholder=" Last Name">
                        </div>
                    </div>
                    <small id="firstname-error"></small>
                    <small id="lastname-error"></small>

                    <div class="form-action">
                        <label for="email" id="emaillabel"> Email</label><br>
                        <input type="text" name="email" id="inputemail" placeholder="Enter Your Email ">
                    </div>
                    <small id="email-error"></small>

                    <div class="form-action">
                        <label for="email" id="messagelabel"> Message </label><br>
                        <textarea name="message" id="inputmessage" placeholder=" Message "></textarea>
                    </div>
                    <small id="message-error"></small>

                    <div class="form-action">
                        <input type="submit" id="submit-contactus" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="navbar navbar-expand-lg navbar-dark footer">
        <a href="#" class="nav-link copy">&copy 2021 Grace Nakazibwe </a>
        <small id="small-quote">Ugandan Talent Lives Here</small>
        <div class="nav-container">
            <a href="#" class="nav-link icon"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-twitter-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-google-plus-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-instagram"></i></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>

    <script src="/javaScriptfiles/js/bootstrap.min.js"></script>
    <script src="/javaScriptfiles/contactUs.js"></script>
</body>

</html>