<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UGAAMUX Home Page</title>
    <link rel="stylesheet" href="/cssfiles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cssfiles/homepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
    <!---Code for the top navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="top-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-logo" href="/"><small id="small-log">UGAA</small>MUX<img
                    src="/imagefiles/ugflag.jpeg" alt="UG-LOGO" id="logopicture" height="30px" width="50px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navbar-inner-div">
                    <a class="nav-link" aria-current="page" id="navbar-aboutus" href="/aboutUs">About
                        Us</a>
                    <a class="nav-link" id="navbar-artistes" href="/artists">Artists</a>
                    <a class="nav-link" id="navbar-bands" href="/bands">Bands</a>
                    <a class="nav-link" id="navbar-comedians" href="/comedians">Comedians</a>
                    <a class="nav-link" id="navbar-contactus" href="/contactinfo/contactUs">Contact Us</a>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navbar-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item" id="signin" href="/login">LOG IN</a>
                            </li>
                            <li>
                                <a class="dropdown-item" id="register-with-us"
                                    href="/registerrequest/registermessage">REGISTER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--Code for the header section-->
    <div class="container-fluid" id="header">
        <!--Code for the inner text box inside the header section-->
        <div class="header-text-area">
            <h1>Talent Lives Here</h1>


            <small id="small-header-quote">Ugandan Talent Lives Here!!!</small>
        </div>
    </div>
    <div class="row">
        <h2 id="Artistsh2">Artists</h2>
        <div class="col-lg-2 artists artists-left" onclick="location.href='/artists'; " style="cursor: pointer">
            <img src="/imagefiles/Azawi.jpeg" class="img-fluid" alt="azawi-photo" />
            <h4>Azawi</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/artists'; " style="cursor: pointer">
            <img src="/imagefiles/Eddy-kenzo.jpeg" class="img-fluid" alt="kenzo-photo" />
            <h4>Eddy Kenzo</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/artists'; " style="cursor: pointer">
            <img src="/imagefiles/SheebaKarungi.jpeg" class="img-fluid" alt="sheeba-photo" />
            <h4>Sheeba</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href= '/artists'; " style="cursor: pointer">
            <img src="/imagefiles/Apass.jpeg" class="img-fluid" alt="Apass-photo" />
            <h4>Apass</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 artists artists-left" onclick="location.href='/artists'; " style="cursor: pointer">
            <img src="/imagefiles/FikFamaica.jpeg" class="img-fluid" alt="fik-photo" />
            <h4>Fik Fameica</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/artists'; " style="cursor: pointer">
            <img src="/imagefiles/SpiceDiana.jpeg" class="img-fluid" alt="spice-photo" />
            <h4>Spice Diana</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/artists'; " style="cursor: pointer">
            <img src="/imagefiles/JulianaKanyomozi.jpeg" class="img-fluid" alt="juliana-photo" />
            <h4>Juliana</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/artists'; " style="cursor: pointer">
            <img src="/imagefiles/NinaRose.jpeg" class="img-fluid" alt="nina-rose-photo" />
            <h4>Nina Rose</h4>
        </div>
    </div>
    <a href="/artists" class="readmore">...View More</a>
    <div class="row">
        <h2 id="Artistsh2">Comedians</h2>
        <div class="col-lg-2 artists artists-left" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/Alexmuhangi.png" class="img-fluid" alt="alex-Muhangi-photo" />
            <h4>Alex Muhangi</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/UncleMo.jpeg" class="img-fluid" alt="unclemo-photo" />
            <h4>Uncle Mo</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/Madrat.jpeg" class="img-fluid" alt="madrat&chiko-photo" />
            <h4>Mad Rat & Chicko</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/Richard.jpeg" class="img-fluid" alt="Richard-photo" />
            <h4>Richard</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 artists artists-left" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/idrngi.jpeg" class="img-fluid" alt="salvodor-photo" />
            <h4>Salvador</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/unclemark.jpeg" class="img-fluid" alt="Uncle-Mark-photo" />
            <h4>Uncle Mark</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/Anne-Kansiime.jpeg" class="img-fluid" alt="Kansime-photo" />
            <h4>Anne Kansiime</h4>
        </div>
        <div class="col-lg-2 artists" onclick="location.href='/comedians'; " style="cursor: pointer">
            <img src="/imagefiles/conan.jpeg" class="img-fluid" alt="Tumusiime-photo" />
            <h4>Tumusiime</h4>
        </div>
    </div>
    <a href="/comedians" class="readmore">...View More</a>
    <div class="row">
        <h2 id="Artistsh2"> Bands</h2>
        <div class="col-lg-3 talent talent-left" onclick="location.href='/bands'; " style="cursor: pointer">
            <img src="/imagefiles/Janzi-2.jpeg" class="img-fluid" alt="Janzi-2-photo">
            <h4>Janzi Band </h4>
        </div>
        <div class="col-lg-3 talent" onclick="location.href='/bands'; " style="cursor: pointer">
            <img src="/imagefiles/canaan-gents.jpeg" class="img-fluid" alt="caanan-gents-photos">
            <h4>Canaan Gents</h4>

        </div>
        <div class="col-lg-3 talent" onclick="location.href='/bands'; " style="cursor: pointer">
            <img src="/imagefiles/Ivuga-Band.jpeg" class="img-fluid" alt="Lvuga-photos">
            <h4> Lvuga Band </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 talent talent-left " onclick="location.href='/bands'; " style="cursor: pointer">
            <img src="/imagefiles/AfrigoBand.jpeg" class="img-fluid" alt="Afrigo-phot">
            <h4>Afrigo Band</h4>
        </div>
        <div class="col-lg-3 talent " onclick="location.href='/bands'; " style="cursor: pointer">
            <img src="/imagefiles/magic-hornz.jpeg" class="img-fluid" alt="MargicHornz-photo">
            <h4>Magic Hornz</h4>
        </div>
        <div class="col-lg-3 talent " onclick="location.href='/bands'; " style="cursor: pointer">
            <img src="/imagefiles/NewEaglesBand.png" class="img-fluid" alt="New Eagles-photos">
            <h4> New Eagles Band</h4>
        </div>
    </div>
    <a href="/bands" class="readmore">...View More</a>
    <div class="navbar navbar-expand-lg navbar-dark footer">
        <a href="#" class="nav-link copy">&copy 2021 Grace Nakazibwe </a>
        <small id="small-quote">Ugandan Talent Lives Here</small>
        <div class="nav-container">
            <a href="#" class="nav-link icon"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-twitter-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-google-plus-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-instagram"></i></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>

    <script src="/javaScriptfiles/js/bootstrap.min.js"></script>
</body>

</html>