<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGAAMUX Creatives Registration Page</title>
    <link rel="stylesheet" href="/cssfiles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cssfiles/registrationpage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <!---Code for the top navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="top-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-logo" href="/registrationpage"><small id="small-log">UGAA</small>MUX<img
                    src="/imagefiles/ugflag.jpeg" alt="UG-LOGO" id="logopicture" height="30px" width="50px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navbar-inner-div">
                    <a class="nav-link" aria-current="page" id="navbar-aboutus" href="/aboutUs">About
                        Us</a>
                    <a class="nav-link" id="navbar-artistes" href="/artists">Artists</a>
                    <a class="nav-link" id="navbar-bands" href="/bands">Bands</a>
                    <a class="nav-link" id="navbar-comedians" href="/comedians">Comedians</a>
                    <a class="nav-link" id="navbar-contactus" href="/contactinfo/contactUs">Contact Us</a>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navbar-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item" id="sign-out" href="/">LOG OUT</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>Welcome to UGAAMUX</h2>
        <p> Please make sure you enter information correctly. All creatives are to present valid documents before
            registration, to avoid impersonation. After registration avail login details to all registered creatives,
            immediately. </p><br>
        <p>Choose a registration form</p><br>
        <a href="/bandinfo/bandregistrationform">Bands</a>
        <a href="/artistinfo/artistregistrationform">Artists</a>
        <a href="/comedianinfo/comedianregistrationform">Comedians</a><br>

        <small class="small-text">Ugandan Talent Lives Here!!!</small>
    </div>


    <div class="navbar navbar-expand-lg navbar-dark footer">
        <a href="#" class="nav-link copy">&copy 2021 Grace Nakazibwe </a>
        <small id="small-quote">Ugandan Talent Lives Here</small>
        <div class="nav-container">
            <a href="#" class="nav-link icon"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-twitter-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-google-plus-square"></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-instagram"></i></i></a>
            <a href="#" class="nav-link icon"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <script src="/javaScriptfiles/js/bootstrap.min.js"></script>
</body>

</html>