extends layout1
block content
    header.card-header
        h3.card-title UGAAMUX

    div.form-row
        div.col.form-group.col-md-12   
            div.form-row
                div.col-md-10  
                    small You can  now update  information of #{comedian.stagename}
                    br
                    img(src='/'+comedian.uploadedpicture width="100px" height="100px") 
                //- div.col-md-2
                     
                        
    div.form-row
        
    form(method="post" action="/updatecomedian/"+comedian.email) 
    

        table.table
            thead.thead-dark
                tr
                    th Comedian  stage name
                    td 
                        input.form-control(value = comedian.stagename name ="stagename")
                tr
                    th  Comedian  telephone
                    td 
                        input.form-control(value = comedian.comedianphone name ="comedianphone")
                tr
                    th Comedian  email
                    td 
                        input.form-control(value = comedian.email name ="email")
                tr
                    th Comedian bio
                    td 
                         input.form-control(value = comedian.bio name ="bio")
      
                tr
                    th Comedian  location
                    td 
                         input.form-control(value = comedian.Location name ="Location")

                   
                tr
                    th Comedian   Twitter
                    td   
                        input.form-control(value = comedian.twitter name ="twitter") 
                tr
                    th Comedian   District 
                    td 
                         input.form-control(value = comedian.Based name ="Based") 



            
                      
                tr
                    td(colspan=2)
                        button.btn.btn-dark.btn-block(type="submit") Update

             
                