extends layout1
block content
    header.card-header
        h2.card-title #{artist.stageName}


    div.form-row
        div.col.form-group.col-md-12   
            div.form-row
                
                    div.col-md-8.updateimage 
                        
                        
                        img(src='/'+artist.pictureupload width="100px" height="100px") 
                    
                        
                        
                            
        div.form-row 
            
        
            form.tableform(method="post"  action="/updateartist/"+artist.email)   
        

                table.table 
                    thead
                        tr
                            th Artist   Stage  name 
                            td 
                                input.form-control(value = artist.stageName name ="stageName")
                        tr
                            th  Artist  Telephone
                            td 
                                input.form-control(value = artist.telephone name ="telephone")
                        tr
                            th Artist   Email
                            td 
                                input.form-control(value = artist.email name ="email")
                        tr
                            th Artist  bio
                            td 
                                
                                input.form-control(value = artist.bio name ="bio")
            
                        tr
                            th Artist  District 
                            td 
                                input.form-control(value = artist.basedDistrict name ="basedDistrict")

                        
                        tr
                            th Artist  Twitter
                            td   
                                input.form-control(value = artist.twitter name ="twitter") 
                        tr
                            th Artist Genre
                            td
                                input.form-control(value = artist.genre name ="genre")  
                        tr
                            th Artist  Location
                            td
                                input.form-control(value = artist.Location name ="Location")

                        tr
                            th Artist  Albums
                            td
                                input.form-control( type ="number" value = artist.numberofalbums name ="numberofalbums") 

                        tr
                            th Artist  Songs
                            td
                                input.form-control( type ="number" value = artist.numberofsongs name ="numberofsongs")                      
                                
                        tr
                            td(colspan=3)
                                button.btn.btn-dark.btn-block(type="submit") Update   

                              

            
